/*


!plugins
plugins/*
!/plugins/sepehr
!/plugins/sepehr/*
!/plugins/rainlab/
!/plugins/rainlab/*
!/plugins/rantiz/
!/plugins/rantiz/*
!themes
themes/*
!themes/theme-1
themes/theme-1/*
!/themes/theme-1/pages/
!/themes/theme-1/pages/*
!.gitignore
